.card {
    border-radius: 5px;
    background-color: #FBFBFB;
    width: 258px;
    height: 100px;
    padding: 10px;
    margin: 20px;
    display: grid; 
    align-items: center;
    grid-template-columns: 0.5fr 1.5fr; 
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: 
    "a b"
    "a c";

    img {
        grid-area: a;
        align-self: center;
    }
}